page-contatos {
    ion-content {
        background-color:rgb(21, 143, 62);
      }     
      ion-item {
        background-color:#007E7A;
        color: #fff;
      }  
      ion-list{
          background-color:rgb(238, 234, 23);
      }      
}
