page-contatos {
    ion-content {
        background-color:rgb(21, 143, 62);
      }     
      ion-item {
          background-color:rgb(192, 231, 184);
      }  
      ion-list{
          background-color:rgb(238, 234, 23);
      }      
}
