page-dados-empregado {
    ion-content {
        background-color:#007E7A;
      }     
      ion-item {
          background-color:#007E7A;
      }  
      ion-list{
          background-color:#ffc000;
      } 
      ion-header{
        background-color:#007E7A;
      }
      .testclass{
        font-size: 20px !important;
       
        }  
      .submit-btn {
        background: #ffc000;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
        color: rgb(21, 143, 62);
      }
      ion-item {
        background-color:#007E7A;
        color: #fff;
    }  
}
