page-dados-empregado {
    ion-content {
        background-color:rgb(21, 143, 62);
      }     
      ion-item {
          background-color:rgb(192, 231, 184);
      }  
      ion-list{
          background-color:rgb(238, 234, 23);
      } 
      ion-header{
        background-color:rgb(192, 231, 184);
      }

      .submit-btn {
        background: rgb(218, 214, 31);
        border-radius: 30px !important;
        border: 1px solid #ffffff;
        color: rgb(21, 143, 62);
      }
}
