<!--
  Generated template for the MinhasSolicitacoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
    <ion-navbar>
      <ion-title>Minha Conta</ion-title>
    </ion-navbar> 
  </ion-header>

  <ion-content padding>
    <ion-item>
      <ion-list>
          <ion-item text-wrap>{{ Solicitante.Nome }}</ion-item>
          <ion-item>Matricula : {{ Solicitante.Id }}</ion-item>
          <ion-item>Telefone  : {{ Solicitante.Telefone }}</ion-item>
          <ion-item text-wrap>Email     : {{ Solicitante.Email }}</ion-item>
          <ion-item  *ngIf="Solicitante.Supervisao.length != 0 " text-wrap>Supervisão: {{ Solicitante.Supervisao }}</ion-item>
          <ion-item  *ngIf="Solicitante.Gerencia.length != 0 "text-wrap>Gerencia: {{ Solicitante.Gerencia }}</ion-item>
      </ion-list>
    </ion-item>

  <div>
          <button class="submit-btn" ion-button block (click)="alterarTelefone($event)">
              Alterar meu Telefone
          </button>
  </div>

   
  </ion-content>